<div class="create-game">
	<h3>What is your name ?</h3>
	<div class="ui input big"><input type="text" name="name" value="" autocomplete="off"></div><br />
	<div class="ui button big blue" id="create_game_button">
		<span class="value">Create Game</span>
		<i class="icon arrow right"></i>
	</div>

	<h3 class="invited-text"></h3>
</div>

<div class="ui visible message rules">
	<p>
		<b>Rules:</b>
		It's simple. Create a new game and send the invitation link to your friend.
		The game consists from logical and mathematical tasks. You and your friend play on turns.
		A player who is on the move must answer a logical task within the given time. If the player makes
		a mistake or the time expires then the player lost and other one wins.
		Be careful, time is reduced each round and the tasks are harder.
	</p>
</div>

<img src="public/help.png">
