<div class="get-ready">
	<h3 class="ui heading title-ready">Are you ready ?</h3>

	<div class="ui grid">
		<div class="eight wide column">
			<div class="ui card player">
				<div class="content">
					<div class="header player1_name"></div>
					<div class="meta">this is you</div>
				</div>
				<div class="extra content">
					<div class="ui toggle checkbox player1_ready">
						<input type="checkbox" name="player1_ready" value="1">
						<label>Ready</label>
					</div>
				</div>
			</div>
		</div>

		<div class="eight wide column">
			<div class="ui card player">
				<div class="ui active inverted dimmer">
					<div class="ui text loader">Waiting</div>
				</div>
				<div class="content">
					<div class="header player2_name">(Not connected)</div>
					<div class="meta">your opponent</div>
				</div>
				<div class="extra content">
					<div class="ui toggle checkbox player2_ready">
						<input type="checkbox" name="player2_ready" disabled value="1">
						<label>Ready</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="hint">
		Please send the link below to your friend
		<div class="ui info message">http://martinsuly.koding.io/jaskfa9032r90uasdfasdf</div>
	</div>
</div>